.cuerpito{
  margin: 0;
  padding-left: 76px;
  padding-top: 60px;
}

/*BOTONES*/
.boton-lupa-header{
  height: 40px;
  background-color: #EFEFEF;
  cursor: pointer;
  width: 64px;
  margin-left: -1px;
  border: 1px solid rgb(204, 204, 204);
}
.boton-microfono-header{
  margin-left: 14px;
  border-radius: 100px;
  border: 1px solid #F8F8F8;
  width: 38px;
  background-color: #F8F8F8;
  cursor: pointer;
}



/*ICONOs*/
.icono-hamburguesa{
  width: 23px;
  height: 23px;
  margin-left: 24px;
  margin-right: 24px;
  cursor: pointer;
}
.icono-youtube{
  width: 90px;
  cursor: pointer;
}


.icono-lupa{
  width: 20px;
}
.icono-microfono{
  width: 18px;
  cursor: pointer;
  padding-top: 2px;
}


.icono-camara-con-mas{
  width: 23px;
  cursor: pointer;
}
.icono-9-cuadraditos{
  width: 23px;
  cursor: pointer;
}
.icono-campana{
  width: 23px;
  cursor: pointer;
}
.icono-notificacion{
  background-color: #CC0000;
  border-radius: 16px;
  color: white;
  font-size: 10px;
  padding-bottom: 1.5px;
  padding-top: 1.5px;
  padding-left: 5px;
  padding-right: 5px;
  font-family: roboto;
  right: -2px;
  top: 1px;
  position: absolute;
  z-index: 4;
}
.icono-foto-de-canal{
  width: 32px;
  border-radius: 16px;
  cursor: pointer;
}

/*CONTENEDORES BARRA SUPERIOR*/
.contenedor-flex{
  position: fixed;
  background-color:#FFFFFF;
  border-bottom: 0.5px solid rgb(213, 209, 209);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  left: 0;
  right: 0;
  top:0;
  z-index: 2;
}
.contenedor-izquierda{
  display:flex;
  width: 105px;
  align-items: center;
  
}
.contenedor-medio{
  margin-left: 150px;
  margin-right: 150px;
  max-width: 500px;
  min-width: 100px;
  display: flex;
  flex: 1;
  justify-content: center;
}
.contenedor-derecha{
  display: flex;
  justify-content: space-around;
  width: 210px;
  flex-shrink: 0;
}

.contenedor-campana{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  position: relative;
}
