.contenedor-side-bar{
  position: fixed;
  background-color: #FFFFFF;
  left: 0;
  top:55px;
  bottom: 0;
  width: 75px;
  z-index: 2;
  display: flex;
  justify-content:top;
  flex-direction: column;
  align-items: center;
  color: black;
}
.contenedor-side-bar img{
  height: 24px;
}
.contenedor-side-bar p{
  font-size: 11px;
  font-family: roboto, arial;
}

.divs-sidebar{
  height: 74px;
  width: 72px;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1px;
  transition: 0.5s;
  cursor: pointer;
}

.divs-sidebar:hover{
  background-color: #d6c8c8;
}
