.contenedor-side-bar{
  position: fixed;
  background-color: #EFEFEF;
  left: 0;
  top:55px;
  bottom: 0;
  width: 75px;
  z-index: 2;
  display: flex;
  justify-content:top;
  flex-direction: column;
  align-items: center;

  color: black;
}