.p {
  font-family: roboto;
}

/*CONTENEDOR*/
.contenedor-video {
  color: rgb(0, 0, 0);
  width: 300px;
  margin-right: 25px;
  display: inline-block;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

/*SEARCHBAR*/
.search-bar {
  margin-bottom: 1px;
  height: 25px;
  width: 2500px;
  display: block;
  border-radius: 100px;
  border: none;
}

/*IMAGENES*/
.thumbnail {
  width: 300px;
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
}

.imagen-user {
  border-radius: 100px;
  width: 30px;
  display: inline-block;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

/*TEXTOS*/
.video-title {
  cursor: pointer;
  line-height: 1.1;
  font-size: 15px;
  font-weight: 600;
  font-family: montserrat;
  margin-bottom: 5px;
}
.video-title:hover {
  text-decoration: underline;
}
.username {
  font-size: 15px;
  margin-bottom: 4px;
  display: inline-block;
  vertical-align: middle;
  color: rgb(73, 61, 61);
  margin-top: 5px;
}s
.username:hover {
  text-decoration: underline;
  cursor: pointer;
}
.video-info {
  color: rgb(73, 61, 61);
  font-size: 13px;
  margin-top: 0px;
  margin-bottom: 5px;
}
